*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    min-width: max-content;
    min-height: 100%;
    overflow: hidden;
}

.home {
    font-size: 1.6rem;
    background-color: $lochmara;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    height: 100vh;
}
