//button
@mixin btn {
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

//displayflex
@mixin displayFlex($align: "center", $direction: "col") {
    display: flex;

    @if $align=="left"and $direction=="col" {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    @if $align=="center"and $direction=="col" {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @if $align=="between"and $direction=="col" {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    @if $align=="right"and $direction=="col" {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    @if $align=="left"and $direction=="row" {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
    }

    @if $align=="center"and $direction=="row" {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    @if $align=="between"and $direction=="row" {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    @if $align=="right"and $direction=="row" {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
    }
}
