$lochmara: #0079bf; //--color-primary-blue
$allports: #026aa7; //--color-primary-blue--dark
$degrey: hsla(0, 0%, 100%, .275); //--color-light-over-primary

$athens-gray: #ebecf0; //--color-list-background
$white: #fff; //--color-list-card-background
$athens-gray: #f4f5f7; //--color-list-card-background--hover
$blue-bayoux : #496679; //--color-list-card-add-card
$blue-bayoux-hover: rgba(9, 30, 66, .08); //--color-list-card-add-card--hover
$black: #000000;
$nile-blue: #172b4d;
