.btn {
    @include btn();

    &--edit-card {
        opacity: 0;
        padding: 1.2rem;
        height: 2rem;
        width: 2rem;

        & svg {
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
        }
    }

    &--add-card {
        padding: .6rem;
        border-radius: 3px;
        width: 22.8rem;
        display: flex;
        align-items: center;

        &:hover {
            background-color: $blue-bayoux-hover;
        }

        &:hover>.btn--add-card {
            color: $black;
        }

        &:hover>* {
            color: $black;
            fill: $black;

            & svg {
                color: $black;
            }
        }

        & span {
            line-height: 2rem;
            margin-left: .6rem;
        }
    }

    &--add-another-list {
        color: $white;
        padding: 2rem;
        height: 3.2rem;
        min-width: 26.4rem;
        border-radius: 3px;
        display: flex;
        align-items: center;
        background-color: $degrey;

        & svg {
            fill: currentColor;
            height: 1.2rem;
            width: 1.2rem;
        }

        & span {
            margin-left: 0.6rem;
        }

        &:hover {
            background-color: hsla(0, 0%, 100%, .35);
            transform: none;
        }
    }

    &-submit {
        color: $white;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 3px solid $white;
        padding: 14px 10px;
        border-radius: 24px;
        transition: 0.25px;
        width: 400px;
        background-color: $degrey;
        transition: transform .2s;

        &:focus {
            border: none;
            background-color: $allports;
        }
    }
}
