.list-deck {
    display: flex;
    overflow-x: auto;
    color: $nile-blue;
    height: calc(100vh - 6rem);

    &>* {
        margin-right: 1rem;
    }

    &__list {
        align-self: flex-start;
        padding: .4rem 1rem 0.8rem;
        border-radius: 3px;
        background-color: $athens-gray;
        width: 27.2rem;
        will-change: left, top;

        &-footer {
            display: flex;
        }
    }

    &__list-header {
        display: flex;
        align-items: center;
    }

    &__title {
        font-size: 1.4rem;
        font-weight: 700;
        padding: .4rem 0 .4rem .8rem;
        border: none;
        margin: .4rem 0;
        height: 3.3rem;
        line-height: normal;
        flex: 1;
        overflow: hidden;
    }

    &__card {
        background-color: $white;
        padding: .6rem .8rem;
        border-radius: 3px;
        margin-bottom: .5rem;
        box-shadow: 0 1px 0 hsla(218, 76%, 15%, 0.251);
        cursor: pointer;
        display: flex;

        &:hover {
            background-color: $athens-gray;
        }

        &:hover .btn--edit-card {
            opacity: 1;
        }

        &-list {
            list-style: none;
        }

        &-title {
            font-size: inherit;
            font-weight: inherit;
            margin-right: auto;
        }
    }

    &__add-card {
        color: $blue-bayoux;
        display: flex;
        justify-content: space-between;

        &:hover {
            color: $black;
        }
    }

    &__icon {
        fill: $blue-bayoux;
        height: 1.2rem;
        width: 1.2rem;
    }

}
