.header {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;

    &__title {
        position: fixed;
    }

    &__link {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $athens-gray;
        }
    }


}
