.box {
    width: 450px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $lochmara;
    text-align: center;

    h1 {
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
    }

    #username,
    #password {
        border: 0;
        background: $athens-gray;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 3px solid $allports;
        padding: 14px 10px;
        width: 400px;
        outline: none;
        color: $black;
        border-radius: 24px;
        transition: 0.25px;

        &:focus {
            border-color: $white;
            background-color: $degrey;
        }

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $allports;
            opacity: 1;
            /* Firefox */
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $allports;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $allports;
        }
    }

}
